body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-y: hidden;
}
video {
    width: 100vw;
    height: 100%;
}

.brn-start {
    height: 100vh;
}

.container {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.board {
    display: grid;
    grid-template-columns: repeat(50, 20px);
    grid-template-rows: repeat(30, 20px);
}

.cell {
    height: 20px;
    width: 20px;
    border: 1px solid black;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.btn img{
    height: 50px;
    width: 50px;
    padding: 15px;
}

.btn:hover {
    background-color: #E9F3FB;
    border-radius: 20px;
    cursor: pointer;
}